node_modules/

CHANGELOG.md

genezio.yaml

gerenciamento de cadastro.code-workspace

gerenciamento e cadastro.code-workspace

package-lock.json

.prettierrc.json

ISSUE_TEMPLATE.md

jsconfig.json

.eslintrc.json

.npmrc

LICENSE.md

README.md

src/assets/images/logo-robotica-small.svg

build/

edicaoSalas.code-workspace

src.code-workspace

*.code-workspace
